<a href="http://github.com/lzap"><img src="/assets/img/social_icons/github.png" width="64" height="64" border="0"/></a>
<a href="https://www.ohloh.net/accounts/lzap"><img src="/assets/img/social_icons/orkut.png" width="64" height="64" border="0"/></a>
</div><div align="center">
<a href="http://twitter.com/#!/lzap"><img src="/assets/img/social_icons/twitter.png" width="64" height="64" border="0"/></a>
<a href="http://www.linkedin.com/profile/view?id=20097823"><img src="/assets/img/social_icons/linkedin.png" width="64" height="64" border="0"/></a>
</div><div align="center">
<a href="https://plus.google.com/113635437049548586176/posts"><img src="/assets/img/social_icons/google.png" 
  width="64" height="64" border="0"/></a>
<a href="http://www.facebook.com/lukas.zapletal"><img src="/assets/img/social_icons/facebook.png" width="64" height="64" border="0"/></a>
</div><div align="center">
<a href="http://www.flickr.com/photos/28941749@N00/"><img src="/assets/img/social_icons/flickr.png" width="64" height="64" border="0"/></a>
<a href="http://www.youtube.com/user/lzap80"><img src="/assets/img/social_icons/youtube.png" width="64" height="64" border="0"/></a>
