<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv='Content-Security-Policy' content="default-src 'self'
    ; script-src 'self' 'unsafe-inline'
    www.google-analytics.com
    stats.g.doubleclick.net
    https://stats.g.doubleclick.net
    platform.twitter.com
    https://platform.twitter.com
    syndication.twitter.com
    cdn.syndication.twimg.com
    ; img-src 'self'
    https://stackexchange.com
    https://feeds.feedburner.com
    www.google-analytics.com
    stats.g.doubleclick.net
    https://stats.g.doubleclick.net">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="Lukáš Zapletal">
    <meta name="description" content="Lukáš Zapletal lzap Blog">
    <link rel="canonical" href="{{ site.production_url }}{{ page.url }}" />
    <link rel="alternate" type="application/atom+xml" title="Lukas Zapletal Blog" href="https://feeds.feedburner.com/LukasZapletal" />
    <link href="/assets/css/pygments.css" rel="stylesheet"/>
    <link href="/assets/css/lzap.css" rel="stylesheet"/>
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"/>
    <link rel="openid.server" href="https://mojeid.cz/endpoint/" />
    <link rel="openid2.provider" href="https://mojeid.cz/endpoint/" />
    <link rel="openid.delegate" href="https://mojeid.cz/id/xHuFBw52XK/" />
    <link rel="openid2.local_id" href="https://mojeid.cz/id/xHuFBw52XK/" />
    <script type="text/javascript">
    var host = "{{ site.enforce_ssl }}"; if ((host == window.location.host) && (window.location.protocol != "https:")) window.location.protocol = "https";
    </script>
    {% include analytics/google.html %}
    {% include twitter.html %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{{ site.title }}: {{ site.tagline }}</a>
          <form id="searchform" class="navbar-search pull-right" method="GET" action="https://www.google.com/search"
            onsubmit="document.getElementById('searchfield').value = 'site:lukas.zapletalovi.com ' + document.getElementById('searchfield').value">
            <input id="searchfield" name="q" type="text" class="search-query" placeholder="Search"
            onclick="document.getElementById('searchfield').value = ''"/>
          </form>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li><a href="/">Blog</a></li>
              <li><a href="/students.html">For students</a></li>
              <li><a href="/archive.html">Archive</a></li>
              <li><a href="/tags.html">Tags</a></li>
              <li><a href="/about_me.html">About me</a></li>
              <li><a href="/contact.html">Contact</a></li>
              <li><a href="https://feeds.feedburner.com/LukasZapletal">Feed</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {{ content }}

      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 1997-2003, 2004-{{site.time | date: "%Y"}} Lukáš Zapletal | Follow me on <a href="https://twitter.com/lzap">@lzap</a> or <a href="https://plus.google.com/113635437049548586176/posts">@g+</a>.</p>
        <p>Running on <a href="https://www.github.com">Github.com</a> | Jekyll | Twitter Bootstrap.
        Licenced under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </footer>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
