---
layout: default
---
<div class="row-fluid">
  <div class="span9">
    {{ content }}
    <div class="row-fluid">
      <div class="span4">
        <a class="twitter-share-button" data-size="large" data-via="lzap"
          href="https://twitter.com/intent/tweet?text={{ page.title }}">Share on Twitter</a>
        <a href="https://twitter.com/intent/tweet?screen_name=lzap&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Comment via Tweet to @lzap</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="span8 text-right">
        <i class="icon-book"></i>{{ page.date | date_to_long_string }}
        {% for tag in page.tags %}
          | <a href="/tags.html#{{ tag }}-ref">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
    {% include pagination.html %}
    {% include discussion.html %}
  </div>

  <div class="span3">
    {% include sidebar.html %}
  </div>
</div>
